body {
  font-family: Arial, sans-serif;
  background-color: #0084ff;
}

.container {
  width: 400px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: white;
  padding: 25px;
  border-radius: 10px;
}

label,
input,
textarea {
  display: block;
  margin-bottom: 20px;
}

input {
  align-items: center;
  width: 95%;
  padding: 8px;
  border: none;
  background-color: #dedede;
}

textarea {
  align-items: center;
  width: 95%;
  padding: 8px;
  border: none;
  background-color: #dedede;
}

input[type="submit"] {
  background-color: #0084ff;
  width: 20%;
  color: white;
  cursor: pointer;
  padding: 10px;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}
